
.menu  a {
    text-decoration: none;
    color: var(--color-texto);
    display: inline-block; /*Hace que los enlaces se muestren 
    como bloques en línea, permitiendo que otros elementos fluyan al lado de ellos.*/
    position: relative;
}


.menu  a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color:#015033;
    transform: scale(0); /*Inicialmente, escala el pseudo-elemento horizontalmente a cero, haciéndolo invisible.*/
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; /*Aplica una transición suave a la propiedad */
}


 .menu  a:hover::after{
    transform: scale(1);
    transform-origin: bottom left;
}



